<div class="hero1">
<br />
<br />
<br />
<br/>
<br />
<div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn code from the pros, not the joes.</h1>
    <br />
    <h2>I'm a software engineer, Landon.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
</div>
</div>


<br />
<div class="row feature text-center">
<div class="col-12 col-sm">
    <h3>Amazing Courses</h3>
    <br />
    <p> Choose from any number of course and have 12 hour a day live suppoort. </p>
    </div>

<div class="col-12 col-sm">
    <h3> You set the pace.</h3>
    <p> Learn wherever you want, whenever you want, and however you want. You set the pace of your success!</p>
</div>

<div class="col-12 col-sm">
    <h3>After success Paying</h3>
    <p> You don't owe us anything until you secure a job with a salary of $50,000 or more! </p>
</div>
</div>


    